.product-container {
  margin: 2rem 0;
}

.product-img-container {
  width: 85vw;
  height: calc(85vw);
  overflow: hidden;
  margin: 0 auto;
  max-width: 30rem;
  max-height: 25rem;
}

.product-img-container > img {
  width: 100%;
  transform: translateY(-75px);
}

.product-text {
  padding: 0 2rem;
}

.product-btn {
  background-color: red;
  border: 2px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.429);
  padding: 1rem 2rem;
}

.product-btn > * {
  color: white;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
}
