.product-container {
  margin: 2rem auto;
  text-align: center;
  width: 95vw;
  max-width: 800px;
}

.product-img-container {
  width: 85vw;
  height: calc(85vw);
  overflow: hidden;
  margin: 0 auto;
  max-width: 30rem;
  max-height: 25rem;
}

.product-img-container > img {
  width: 100%;
  transform: translateY(-75px);
}

.product-text {
  text-align: left;
  padding: 0 2rem;
  margin: 0 auto 2rem auto;
}

button.article {
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
}

@media (min-width: 1024px) {
  div.product-container {
    /* background-color: red; */
    display: flex;
    border: 1px solid dimgray;
    background-color: white;
    padding: 1rem;
  }
  h2.product-title {
    text-align: left;
    margin-left: 2rem;
    margin-top: 0;
  }
  p.product-text {
    font-size: 1.5rem;
    line-height: 1.25;
    max-width: 350px;
  }
  .product-img-container {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    height: auto;
  }

  .product-img-container > img {
    transform: translateY(-75px);
  }
}
