.product-container {
  margin: 2rem 0;
  text-align: center;
}

.product-img-container {
  width: 85vw;
  height: calc(85vw);
  overflow: hidden;
  margin: 0 auto;
  max-width: 30rem;
  max-height: 25rem;
}

.product-img-container > img {
  width: 100%;
  transform: translateY(-75px);
}

.product-text {
  text-align: left;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

button.article {
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;

}
