.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  gap: 2rem;
  background-color: white;
  padding-bottom: 3rem;
}
.article-container {
  max-width: 400px;
  height: auto;
  overflow: hidden;
  position: relative;
}
.article-img-container > img{
  width: 100%;
  filter: brightness(40%);
}
.article-desc-container {
  margin: 0;
  max-width: 400px;
  position: absolute;
  top: 0;
  z-index: 5;
}
h2.article-title{
  color: white;
  font-family: var(--secondaryfont);
  font-size: 3.25rem;
  letter-spacing: 10px;
  line-height: 1;
  margin: 2rem 0;
  padding: 0 1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
}
p.article-text{
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0 black;
  color: white;
  font-family: var(--bodyfont);
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
}
button.article {
  border: 2px solid white;
  color: white;
  display: flex;
  font: var(--bodytext);
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}