.newsletter-container {
  background-color: var(--orange-web);
  font-weight: 200;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}
.newsletter-form {
  display: block;
  text-align: center;
}

input#newsletter-input {
  display: block;
  width: 75vw;
  max-width: 450px;
  background-color: white;
  border-radius: 5px;

}
.newsletter-form > label {
  display: block;
  color: transparent;
  position: relative;
  left: -5rem;
}

button.newsletter-btn {
  color: black;
  margin: 0.5rem;
  font-weight: 600;
}

@media screen and (min-width: 465px) {
  button.newsletter-btn {
    background-color: black;
    border-radius: 0 .5rem .5rem 0;
    color: white;
    font-weight: 600;
    height: 1.4375em;
    margin: 0;
    padding: 1.75rem 1rem;
    right: 3px
  }

}