header {
align-items: center;
background-color: var(--oxford-blue); 
display: flex;
height: 3rem;
justify-content: space-between;
padding: 0 1rem;
margin: 0 auto;
width: 100%;
}

.nav-title {
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

svg.pets-icon {
  transform: rotate(-15deg);
  color: var(--text-color)
}
svg.pets-icon:hover {
  transform: rotate(0deg);
  color: white
}

@media (min-width: 768px) {
  #logo {
    width: 10rem;
  }
}
