header {
  align-items: top;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#logo {
  width: 5rem;
}

@media (min-width: 768px) {
  #logo {
    width: 10rem;
  }
}
