header {
width: 100%;
background-color: #14213D; 
height: 4rem;
}
header > div {
  align-items: top;

  display: flex;
  justify-content: right;
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-top: 1rem;
  /* padding: 1rem;   */

}
/* #logo {
  width: 5rem;
  display: none
} */

@media (min-width: 768px) {
  #logo {
    width: 10rem;
  }
}
