.nav-menu {
  background-color: var(--orange-web);
  font-size: 2rem;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: hidden;
  padding-top: 5rem;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 5;
  padding-left: 0;
}
.nav-menu > li > *, .nav-menu > li {
  color: white;
  font-weight: 800;
  line-height: 2;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

button.login-btn {
  margin-right: 4rem;
  top: .5rem
}
.menu-action {
  color: white;
  position: absolute;
  right: .5%;
  top: .5%;
  transition: all 1s ease;
  z-index: 10;
}

.nav-menu.open {
  opacity: 1;
  transition: all 0.5s ease;
  transform: translateY(0px);
}

.nav-menu.closed {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-550px);
}

.product-text {
  line-height: 1.5rem;
}

svg.menu-action {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  svg.menu-action {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  ul#navBar {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    min-width: 550px;
    opacity: 1;
    padding: 0;
    position: static;
    text-transform: uppercase;
    transform: translateY(0px);
    transition: none;
    z-index: 1;
  }
  .nav-item, .nav-item>a{
    align-items: center;
    color: var(--text-color);
    display: flex;
    font-size: .75rem;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 1.25px;
    margin-right: 1rem;
  }
  .nav-item>a:hover {
    color: white;
    transition: 1s;
  }
  
}
