.nav-menu {
  background-color: #FCA311;
  font-size: 2rem;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 2;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.283);
  overflow-y: hidden;
}

.nav-menu > li > *, .nav-menu > li {
  /* margin-left: 2rem; */
  line-height: 2;
  font-weight: 800;
  text-decoration: none;
  color: white;
}
.nav-menu > li:nth-child(1) {
  margin-top: 5rem;
}
button.login-btn {
  margin-right: 4rem;
  top: .5rem
}
.menu-action {
  position: absolute;
  right: .5rem;
  top: .5rem;
  transition: all 1s ease;
  z-index: 3;
  border-radius: 5px;
  color: white;
}

.nav-menu.open {
  opacity: 1;
  transition: all 0.5s ease;
  transform: translateY(0px);
}

.nav-menu.closed {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-550px);
}

.product-text {
  line-height: 1.5rem;
}

svg.menu-action {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  svg.menu-action {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  .nav-menu > li:nth-child(1),
  .nav-menu > li > a,
  ul#expanded {
    margin: 0;
    padding: 0;
  }
  ul#expanded.nav-menu {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: space-between;

    min-width: 550px;
    opacity: 1;
    position: static;
    transform: translateY(0px);
    transition: none;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
  }

  .nav-menu > li > *, .nav-menu > li {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .nav-menu > li > *:hover, .nav-menu > li:hover {
    font-weight: 800;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
    text-decoration: underline;
  }
  
}
