footer {
  background-color: #080708;
  color: white;
  font-weight: 200;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

p.footer {
  letter-spacing: .1rem;
  line-height: 1.25;
  margin: 0 auto;
}

h3.footer {
  font-weight: 500;
  letter-spacing: .1rem;
  text-transform: uppercase; 
  margin: 0 auto;
}

p.copyright{
  font-size: .75rem;
  margin: 2rem auto;
  pad: 0;
}

svg.footer-social {
  font-size: 2rem;
  margin: 1rem;
}
