.nav-menu {
  background-color: #fdca40ff;
  font-size: 2rem;
  height: 600px;
  left: 0;
  line-height: 3.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 2;
}

.nav-menu > li > * {
  margin-left: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.nav-menu > li:nth-child(1) {
  margin-top: 5rem;
}

.menu-action {
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: all 1s ease;
  z-index: 3;
}

.nav-menu.open {
  opacity: 1;
  transition: all 0.5s ease;
  transform: translateY(0px);
}

.nav-menu.closed {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-550px);
}

.product-text {
  line-height: 1.5rem;
}
