@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgbody);
}
.App {
  background-color: var(--bg);
  margin: 0 auto;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --bg: #f5f5f5;
  --bg-body: #EFEFEF;
  --black: #000000;
  --oxford-blue: #14213d;
  --orange-web: #fca311;
  --platinum: #e5e5e5;
  --white: #ffffff;
  --text-color: #dadce1;
  --border-radius: 1rem;
  --speed: 500ms;
}

* {
  text-decoration: none;
}